@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {background-color: #fffaf3;
    text-align: center;
color:#000000;}
ul, ol {color:white;
    background-color: #ff9900;
    font-size: 25px;
    font-family: "Montserrat", Sans-serif;
    padding: 20px;   
}
  #index {
        text-align: center; 
        color: black;       
  }
ul p {
    font-family: 'Pacifico', cursive;
    font-size: 30px;        
    color: black;
}
h1, h2, h3 {
    color:#ff9900
}
h1 {font-family: 'Pacifico';
    font-size: 50px;
}
p {font-size: 25px;}

h2{font-size: 30px;}
h3 {font-size: 23px;}

 



